.gafete-contenedor {

}
.gafete-imagen {
  float: left;
  padding-right: 30px;
  padding-left: 5px;  
}
.gafete-datos {
  float: left; 
}
.gafete2-contenedor {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center; 
}
.gafete2-datos {  
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;  
  float: left;
  width: 75%;  
}
