.gafete-contenedor {

}
.gafete-imagen {
  float: left;
  padding-right: 5px;
  padding-left: 5px;  
  font-size:10px;
}
.gafete-datos {
  float: left; 
  padding-right: 10px;
  font-size:10px;
}
.gafete-imagenlibro {
	width: 80%;
	height: 80%;
}

